
// Colors
$grey-100:#f3f4f6;
$grey-200:#e5e7eb;
$grey-300:#d1d5db;
$grey-700:#374151;
$indigo-500:#6366f1;
$green-600:#16a34a;

// Font weights
$medium:500;
$semi-bold:600;;

// Box shadows
$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow-md:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

// Font sizes
$text-sm:0.875rem;
$text-md: 1rem;
$text-lg:1.125rem;